
body {

	background-color: #b53737;
	font-family: 'Bangers', cursive;

}


.character {

	font-family: 'Special Elite', cursive;


}

.title {

	margin: 15px;
	font-size: 30px;

}

.btn {

	margin: 15px;

}



