
body {

	background-color: #b53737;
	font-family: 'Bangers', cursive;

}


.characters_available{

	/*clear:both;*/


}

.character {

	/*text-align: center; 
	/*float: left;*/
	font-family: 'Special Elite', cursive;


}

img {

	/*width: 150px;
    height: 150px;*/
}

.title {

	margin: 15px;
	font-size: 30px;

}

.btn {

	margin: 15px;

}



